BaseURI_IS=https://twoja-domena.creatio.com/identity
BaseURI=https://twoja-domena.creatio.com
client_id=
client_secret=
grant_type=client_credentials

# Opcjonalnie: pobierz tylko wybrane kody (np. do testu)
# PRODUCT_CODES=70056
